/*
Filename: styles.css
Author: Mac Burton
Start Date: 16 Sept '23
Summary:
    This stylesheet used for styling each of the pages for this website. 
    There are comments grouping related stylings together.
*/

/*
Section: Rows and Columns
Relevancy: All pages
*/
.row {
    display: flex;
}

.col-1 {
    flex: 100%;
    padding: 5px;
}

.col-2 {
    flex: 50%;
    padding: 5px;
}

.col-3 {
    flex: 33.3%;
    padding: 5px;
}

.col-4 {
    flex: 25%;
    padding: 5px;
}

.col-5 {
    flex: 20%;
    padding: 5px;
}

.col-6 {
    flex: 16.66%;
    padding: 5px;
}


/*
Section: General Stylings
Relevancy: All
*/

/* Class to center text. Typically used on 1-2 sentence paragraphs */
.text-center{
    text-align: center;
}


/*
Section: Navbar
Relevancy: All pages
*/

#nav-name{
    color: #EDF5E1;
    background-color: #05386B;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    font-size: 100px;
    margin: 0;
}

#nav-links{
    color: #EDF5E1;
    background-color: #05386B;
    text-align: center;
    height: 75px;
    border-radius: 25px;
    margin-top: 10px;
    padding: 0px;
}

.nav-logos{
    padding-top: 10px;
    height: 50px;
    width: auto;
}

.nav-page{
    color: #EDF5E1;
    background-color: #05386B;
    text-align: center;
    font-size: 25px;
    height: 50px;
    border-radius: 25px;
    margin-top: 5px;
    padding-top: 17px;
    margin-top: 10px;
    text-decoration: none;
}

/*
Section: Background
Relevancy: All
*/

body {
    background-color: #6394C5;
    font-family: "Fredoka One", sans-serif;
}

iframe {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*
Section: Main
Relevancy: All
*/

.main{
    color: #EDF5E1;
    text-align: center;
    height: 500px; 
    border-radius: 25px;
    height: auto;
    margin-bottom: 65px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.border{
    /* THIS DOESN'T WORK ON CHROME. ACCENT COLOR APPEARS BLACK. CURSE YOU CHROME!!! */
    border: 16px ridge #05386B;
    background-color: #054b92;
    border-radius: 25px;
}


/*
Section: Footer
Relevancy: All
*/

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #001b36;
    color: white; /*TODO: Update to off-white*/
    text-align: center;
}









#character{
    transform: scale(1);
    margin-top: 8px;
}

#character-space{
    
}






#home{
    margin-left: -5px;
    margin-right: 5px;
}

#other{
    margin-left: 5px;
    margin-right: -5px;
}










.portfolioPics{
    border: 6px solid #05386B;
}







#text-background{
    background-color: #427ab3;
}

#profile{
    width: 300px;  
    height: auto;  
    border-radius: 16px;
    border: 6px solid #05386B;
}




.text{

    padding-left: 25%;
    padding-right: 25%;
    text-align: left;

}





.text-space{

    padding-top: 25px;
}

.container {
    max-width: 1200px; /* adjust to the desired size */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* adjust as needed */
    grid-gap: 20px; /* adjust as needed */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.column img {
    width: 300px;  
    height: auto;  
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

#border-inner{
    background-color: #427ab3;
    border-radius: 25px;
    border: 8px ridge #05386B;
    border-top-left-radius: 0px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -32px;
}

#border-inner-title{
    background-color: #427ab3;
    border-radius: 25px;
    border: 8px ridge #05386B;
    border-bottom: 0px;
    padding-bottom: 24px;
    margin-left: 4%;
    margin-right: 4%;
    /* If the screen is bigger, width should instead be about 33.33% */
    width: 50%;
    position: relative; /* Add this */
    z-index: 1; /* Add this */
}

#resume-container {
    width: 80%;
    height: 1050px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    /* fix for safari rounded corners */
    position: relative;
    overflow: hidden;
    margin: auto;
    mask-image: -webkit-radial-gradient(#054b92, black);
}

#resume-container-tabs {
    width: 80%;
    
    
    /* fix for safari rounded corners */
    position: relative;
    overflow: hidden;
    margin: auto;
    
}

.resume-container-tab {
    background-color: #05386B;
    text-align: center;
    font-size: 20px;
    height: 24px;
    margin-top: 0px;
    padding-top: 8px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    
}

#resume-text{
    margin: 0px;
    padding: 0px;
}

.hidden{
    opacity: 0;
}

.hidden-text{
    color: rgba(0,0,0,0);
}

#download-resume:link{
    color:#6394C5;
}

#download-resume:visited{
    color:#6394C5;
}

#download-resume:active{
    color:#427ab3;
}

#border-inner-date{
    background-color: #427ab3;
    border-radius: 25px;
    border: 8px ridge #05386B;
    border-top: 0px;
    padding-top: 1px;
    margin-top: -16px;
    margin-left: 4%;
    margin-right: 4%;
    width: 50%;
    position: relative; /* Add this */
    z-index: 0; /* Add this to place it behind the other element */
}

/* Used for blog posts */

.blog-post {
    width: 80%;
    margin: auto;
    background-color: #427ab3;
    border-radius: 25px;
    border: 8px ridge #05386B;
    overflow: hidden;
    padding: 0px 20px 0px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.blog-post-title {
    float: left;
}

.blog-post-date {

    float: right;
    /*padding-left: 85%;*/
}

.blog-post-text {
    clear: both;
    margin-top: 20px;
    text-align: left;
    padding: 0px 20px 0px 20px;
    
}

/* Finished */

@media screen and (max-width: 1800px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    
}

@media screen and (max-width: 1100px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 750px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* This makes the screen dark */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none;
}

.overlay-content {
    background-color: #2ca361;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    width: 90%;
    height: 70%;
    max-width: 800px;
    max-height: 600px;
    overflow: auto;
    border-radius: 25px;
    border: 16px ridge #037034;
}

.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%; /* adjust as needed */
    height: 80%; /* adjust as needed */
    background-color: #000000;
    color: white;
    padding: 20px;
    overflow-y: scroll;
}

.close {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


.slideshow-container {
    position: relative;
    margin: auto;
    width: 80%;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    

}

.slide:first-child {
    display: block;
}

.slide img {
    width: 100%;
}

.slideRounding{
    border: 6px solid #037034;
    border-radius: 25px;
}

.prev,
.next {
    position: absolute;
    transform: translateY(+150%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
    .prev,
    .next {
        font-size: 18px;
        padding: 8px;
    }
}

.below-text{
    padding-top: 275px;
}

.float-text-left{
    text-align: left;
}

#killScore{
    color: #EDF5E1;
    position: absolute; 
    margin-top: 16px;
    right: 24px;
}
#killIcon{
    position: absolute; 
    margin-top: 14px;
    right: 56px;
    width: 32px;
}

#cleanScore{
    color: #EDF5E1;
    position: absolute; 
    margin-top: 48px;
    right: 24px;
}

#cleanIcon{
    position: absolute; 
    margin-top: 52px;
    right: 56px;
    width: 32px;
}

#cleanSign{
    position: absolute;
    left: 32px;
    padding-top: 0px;
}

#nav-index{
    text-decoration: none;
}

#nav-portfolio{
    text-decoration: none;
}

#nav-resume{
    text-decoration: none;
}

/*
Mobile View Specific Changes
*/
@media only screen and (max-width: 600px) {
    #profile {
        width: 150px;
    }
    #nav-name{
        font-size: 65px;
    }
    .nav-logos{
        padding-top: 15px;
        height: 35px;
        width: auto;
    }
    .text{

        padding-left: 10%;
        padding-right: 10%;    
    }
    .nav-page{
        color: #EDF5E1;
        background-color: #05386B;
        text-align: center;
        font-size: 20px;
        height: 50px;
        border-radius: 25px;
        margin-top: 0px;
        padding-top: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #resume-container {
        height: 420px;
        
    }

    

    #resume-text{
        font-size: 12px;
    }

    .resume-container-tab {
        background-color: #05386B;
        text-align: center;
        height: 20px;
        margin-top: 0px;
        padding-top: 8px;
        
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        
        /* Manual override to col-3 */
        flex: 33.3%;
    }

    .footer{
        font-size: 12px;
    }

    .portfolioPics{
        max-width: 200px;
        border: 6px solid #05386B;
    }
}